#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// #includeのあとのあたりにスクロール量を変更
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        Esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <11 10>;
        };

        CapsLock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <23 22>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <8 9 7>;
        };

        BackSlash {
            bindings = <&kp BACKSLASH>;
            key-positions = <8 9>;
        };

        Apos {
            bindings = <&kp SQT>;
            key-positions = <20 21>;
        };

        BackQuote {
            bindings = <&kp GRAVE>;
            key-positions = <33 32>;
        };

        LANG_1 {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };

        LANG_2 {
            bindings = <&kp LANG2>;
            key-positions = <13 12>;
        };

        Hyphen {
            bindings = <&kp MINUS>;
            key-positions = <25 24>;
        };

        UnderScore {
            bindings = <&kp LS(MINUS)>;
            key-positions = <30 31>;
        };

        Plus {
            bindings = <&kp LS(EQUAL)>;
            key-positions = <8 9 7 38>;
        };

        Pipe {
            bindings = <&kp LS(BACKSLASH)>;
            key-positions = <8 9 38>;
        };

        DoubleQuote {
            bindings = <&kp LS(SQT)>;
            key-positions = <20 21 38>;
        };
    };


    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // 電電猫猫氏作 ZMKでロータリーエンコーダをマウススクロールを割り当てる
        // 新しいスクロール動作の追加
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            // 追加: スクロールのタップ時間を設定 (20ms)
            tap-ms = <20>;
        };

// 設定したいレイヤー
sensor-bindings = <&scroll_up_down>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R                   &kp T                                                       &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D         &kp F                   &kp G        &bootloader                 &lt 7 X            &kp H        &kp J  &kp K      &kp L    &kp SEMICOLON
&kp Z      &kp X         &kp C         &kp V                   &kp B        &kp LEFT_BRACKET            &kp RIGHT_BRACKET  &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &lt_to_layer_0 1 LANG1  &lt 6 SPACE  &lt_to_layer_0 3 LANG2      &kp BACKSPACE      &lt 2 ENTER                             &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        CONTROL {
            bindings = <
&kp LC(Q)  &kp LC(W)     &kp LC(E)     &kp LC(R)  &kp LC(T)                                                   &kp LC(Y)    &kp LC(U)  &kp LC(I)      &kp LC(O)    &kp LC(P)
&kp LC(A)  &kp LC(S)     &kp LC(D)     &kp LC(F)  &kp LC(G)  &kp INT_MUHENKAN          &kp INT_HENKAN         &kp LC(H)    &kp LC(J)  &kp LC(K)      &kp LC(L)    &kp LC(SEMICOLON)
&kp LC(Z)  &kp LC(X)     &kp LC(C)     &kp LC(V)  &kp LC(B)  &kp LC(LEFT_BRACKET)      &kp LC(RIGHT_BRACKET)  &kp LC(N)    &kp LC(M)  &kp LC(COMMA)  &kp LC(DOT)  &kp LC(SLASH)
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &trans     &trans     &trans                    &kp BACKSPACE          &lt 2 ENTER                                         &kp LC(DEL)
            >;

            sensor-bindings = <&inc_dec_kp LC(K) LC(L)>;
        };

        NUMARROW {
            bindings = <
&kp MINUS          &kp N7  &kp N8        &kp N9  &kp PLUS                                           &kp LS(INSERT)  &kp HOME  &kp PAGE_UP    &kp END    &kp INSERT
&kp SLASH          &kp N4  &kp N5        &kp N6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &trans  &kp LEFT        &kp DOWN  &kp UP         &kp RIGHT  &kp PERCENT
&mt LEFT_SHIFT N0  &kp N1  &kp NUMBER_2  &kp N3  &kp PERIOD    &kp EQUAL                    &trans  &trans          &trans    &kp PAGE_DOWN  &trans     &trans
&trans             &kp N0  &trans        &trans  &trans        &trans                       &trans  &trans                                              &trans
            >;
        };

        FUNCTION {
            bindings = <
&kp MINUS   &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp PLUS                          &kp F7  &kp F8  &kp F9  &kp F12  &kp F16
&kp SLASH   &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp ASTERISK  &trans      &trans  &kp F4  &kp F5  &kp F6  &kp F11  &kp F15
&kp LS(N0)  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp PERIOD    &trans      &trans  &kp F1  &kp F2  &kp F3  &kp F10  &kp F14
&trans      &kp LS(N0)  &trans      &trans      &trans        &trans      &trans  &trans                           &kp F13
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &trans       &trans    &mo 5      &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp LC(V)  &kp LS(TAB)  &mkp MB1  &mkp MB3   &mkp MB2  &kp LC(TAB)
&trans  &trans  &trans  &trans  &trans  &trans      &kp LC(C)  &trans       &mkp MB4  &kp LC(W)  &mkp MB5  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans     &trans                                      &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        SHIFT {
            bindings = <
&kp LS(Q)  &kp LS(W)  &kp LS(E)  &kp LS(R)  &kp LS(T)                      &kp LS(Y)  &kp LS(U)  &kp LS(I)      &kp LS(O)    &kp LS(P)
&kp LS(A)  &kp LS(S)  &kp LS(D)  &kp LS(F)  &kp LS(G)  &trans      &trans  &kp LS(H)  &kp LS(J)  &kp LS(K)      &kp LS(L)    &kp LS(SEMI)
&kp LS(Z)  &kp LS(X)  &kp LS(C)  &kp LS(V)  &kp LS(B)  &trans      &trans  &kp LS(N)  &kp LS(M)  &kp LS(COMMA)  &kp LS(DOT)  &kp LS(FSLH)
&kp LCTRL  &kp LALT   &kp LGUI   &trans     &trans     &trans      &trans  &trans                                            &trans
            >;
        };

        BT {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &kp LC(S)     &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};